repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

-   repo: https://github.com/pycqa/pylint
    rev: v4.0.3
    hooks:
    -   id: pylint
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score
        ]
        additional_dependencies: [
            "numpy",
            "opencv-python",
        ]
